## Exammple of env file to add on local run

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=sentiment_db
FLASK_DEBUG=True
FLASK_PORT=5050
MODEL_PATH=models/sentiment_model.pkl